# Database
DATABASE_URL=postgresql+asyncpg://ubcadmin:NewcomersDB2026!@<RDS_ENDPOINT>:5432/ubcnewcomers

# AWS
AWS_REGION=us-west-2
COGNITO_USER_POOL_ID=us-west-2_Cb7YyLReb
COGNITO_APP_CLIENT_ID=7qnnl3dtml6c1p7u41upjarc1b
S3_BUCKET_NAME=ubc-newcomers-profile-pics-840765342118
SNS_PLATFORM_APP_ARN=

# Bedrock
BEDROCK_MODEL_ID=anthropic.claude-sonnet-4-6
TEST_ALLOWED_EMAILS=["tarit.witworrasakul@gmail.com"]
